@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');


body{
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(56, 24, 16);
}

h1{
  font-family: 'Fondamento', cursive;
  font-weight: 800;
  color: rgb(255, 187, 0);
}

:root{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  color: rgb(255, 187, 0);
}

th{
  color: rgb(255, 187, 0);
}

td{
  color: white;
}



[data-action] {
    cursor: pointer;
  }
  
  /* .sorting {
    filter: grayscale(100%);
  }
   */
  #sorting th.sortby {
    text-decoration: underline;
  }
  
  #sorting th.sortby[data-sort-direction="asc"]::after {
    content: "⇓";
  }
  
  #sorting th.sortby[data-sort-direction="desc"]::after {
    content: "⇑"
  }
  
  #list {
    border-collapse: collapse;
  }
  
  #list tbody tr td {
    padding: 70px;
    
  }

  
  
  #list tbody tr:nth-child(odd) td {
    background-color: rgb(98, 7, 7);
    border-right: rgb(240, 249, 255) 1px dotted;
  }
  
  #list tbody tr:nth-child(even) td {
    border-right: rgb(171, 219, 252) 1px dotted;
  }
  
  /* ****** STAR ****** */
  
  [data-field="star"] {
    text-align: center;
    cursor: pointer;
    min-width: 2em;
  }
  
  /****** WINNER ******/
  [data-field="winner"][data-winner="false"] {
      filter: grayscale(100%);  
      cursor: pointer;
  }
  
  /******** DIALOG styling **********/
  
  .dialog {
    display: none;
  }
  
  .dialog.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
  }
  
  .dialogcontent {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10vw 8vw 8vw 8vw;
    position: relative;
  }
  
  .dialog h1 {
    margin: 0;
    font-size: 130%;
  }
  
  .dialog h2 {
    margin: .5em 0;
    font-size: 110%;
    font-weight: lighter;
  }
  
  .dialog .closebutton {
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 4vw;
    right: 4vw;
    border: none;
    background-color: transparent;
    font-size: 90%;
    color: darkgray;
  }
  
  .dialog .closebutton:hover {
    color: black;
  }
  
  #sorting th {
    cursor: pointer;
  }
  
  [data-field="lname"],
[data-field="fname"] {
  cursor: pointer;
}


#student-popup {
  background-color: rgb(116, 43, 43);
  position:fixed;
  top: 18%;
  left: 25%;
  padding: 2rem;
}

  
  
  .hidden {
    display: none;
  }


  
  

  